body{
    font-family: sans-serif;
    background-color: #dde5ec;
}

.container{
    box-sizing: border-box;
    background-color: #eaeef1;
    width: 400px;
    height: 200px;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form{
    padding: 5px 20px;
}

h2{
    text-align: center;
    padding: 5px 20px;
}